@font-face {
    font-family: "Inter";
    src: url('./fonts/Inter.ttf');
}

html {
    font-family: "Inter", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body > div {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
